.title {
	font-size: 2.3rem !important;
}

.CancelButton {
	background-color: rgba(241, 12, 43, 0.425) !important;
	padding: 0.6rem 1rem !important;
}

.SaveButton {
	background-color: rgba(29, 218, 70, 0.541) !important;
	padding: 0.6rem 1rem !important;
}
.ManageWidgetButton{
	background-color: rgba(29, 196, 218, 0.541) !important;
}

.Widget1Style {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;

	button {
		padding: 0.2rem 1rem;
		cursor: pointer;
	}
}

.Widget2Style {
	width: 100%;
	background-color: rgba(0, 255, 255, 0.514);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
