.title {
	font-size: 2.3rem !important;
}

.CancelButton {
	background-color: rgb(209, 39, 61) !important;
}

.SaveButton {
	background-color: rgb(29, 218, 70) !important;
}

.Widget1Style {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;

	button {
		padding: 0.2rem 1rem;
		cursor: pointer;
	}
}


.Widget2Style{
    width: 100%;
    background-color: rgba(0, 255, 255, 0.514);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
